@using BootShopASP.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BootShopASP.Components
@{
    ViewBag.Title = "Product";
}

<script>
    function ChangeVariant(){
        alert("asd");
    }
    
    
    function Update() {
        var url = '?handler=FuckYou';
            $.ajax({
                type: "GET",
                url: '?handler=FuckYou',
                success: function (data) {
                    alert(data);
                },
                error: function (result) {
                    alert("fail");
                }
            })
    }
</script>

<div class="breadcrumb padding-10 font">
    <a asp-action="Index" asp-controller="Home">Domů</a> > <a href="index.html">@ViewBag.Category.Category.name</a> > <a href="index.html">@ViewBag.Category.name</a>
</div>
<div class="product padding-10 font">
    <div class="img-description-flex">
        <div class="images">
            <a class="pri" href="">
                <img src="~/img/bota1.png" alt="boot-primary">
            </a>
            <a class="sec" href="">
                <img src="~/img/bota2.png" alt="boot-second">
            </a>
            <a class="thi" href="">
                <img src="~/img/bota3.png" alt="boot-third">
            </a>
            <a class="fou" href="">
                <img src="~/img/bota4.png" alt="boot-fourth">
            </a>
        </div>
        <div class="product-description">
            <div class="header-img">
                <div class="heading">
                    <h1>@ViewBag.Product.name</h1>
                </div>
            </div>
            <div class="description not-mobile">
                @ViewBag.Product.description
            </div>
            <hr>
            <div class="product-properties">
                <div class="color">
                    <h3>Barva</h3>
                    <div class="radios-color">
                        @foreach (mProductVariant item in ViewBag.Variants) {
                            <label class="radio-btn">
                                <input runat="server" onchange="Update()" type="radio" name="color">
                                <span class="check" style="background-color: @item.Color.hexCode"></span>
                            </label>
                        }
                    </div>
                </div>
                <div class="size">
                    <h3>Velikost</h3>
                    <div class="radios-size">
                        @foreach (mProductVariant item in ViewBag.Variants) {
                            <label class="radio-btn">
                                <input runat="server" onchange="Update()" type="radio" name="size">
                                <span class="check">@item.size</span>
                            </label>
                        }
                    </div>
                </div>
            </div>
            <hr>
            <div class="price-cart">
                <div class="price-wrapper">
                    <h1>Skladem</h1>
                    <div class="price">
                        @* @if (ViewBag.ProductVariant.discount != 0) { *@
                        @*     <div>@((ViewBag.ProductVariant.price * (1 - ViewBag.ProductVariant.discount)).ToString("F")) Kč</div> *@
                        @* } *@
                        @* <span class="@(ViewBag.ProductVariant.discount == 0 ? "" : "stripped")">@ViewBag.ProductVariant.price.ToString("F") Kč</span> *@
                    </div>
                </div>
                <div class="cart">
                    <button class="not-desktop">
                        <a href="demand.html"><img src="~/img/shop.svg" alt="cart">Do košíku</a>
                    </button>
                    <button class="not-mobile">
                        <a href="demand.html"><img src="~/img/shop.svg" alt="cart">Přidat do košíku</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="info-params-flex">
        <div class="info">
            <h2>Informace o produktu</h2>
            <p>
                @ViewBag.Product.description
            </p>
        </div>
        <table class="params">
            <thead>
            <tr>
                <th colspan="2">Paremetry produktu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Barva</th>
                <td>@string.Join(", ", ((IQueryable<mProductVariant>)(ViewBag.Variants)).Select(x => x.Color.name))</td>
            </tr>
            <tr>
                <th>Druh</th>
                <td>@string.Join(", ", ViewBag.Types)</td>
            </tr>
            <tr>
                <th>Materiál</th>
                <td>@ViewBag.Product.material</td>
            </tr>
            <tr>
                <th>Určení</th>
                <td>@ViewBag.Category.Category.name</td>
            </tr>
            <tr>
                <th>Kód</th>
                <td>@ViewBag.Product.id</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="break break-not-mobile padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="offers font padding-10">
    <h1>Mohlo by se <span class="heading-offers">Vám&nbsp;líbit</span></h1>
    <div class="products-grid">
        @foreach ((mProduct, mProductVariant, string) item in ViewBag.Products) {
            <vc:Product-Card products="item"></vc:Product-Card>
        }
    </div>
</div>
<div class="break padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="tags font padding-10">
    <div class="skladem">
        <a href="" class="text-skladem">VŠE MÁME SKLADEM</a>
        <div class="img-skladem"></div>
    </div>
    <div class="zdarma">
        <a href="" class="text-zdarma">DOPRAVA ZDARMA</a>
        <div class="img-zdarma"></div>
    </div>
    <div class="velikost">
        <a href="" class="text-velikost">JAK MEŘIT VELIKOSTI</a>
        <div class="img-velikost"></div>
    </div>
</div>
<div class="newsletters font">
    <p class="heading">Nezmeškejte nové a výhodné&nbsp;akce</p>
    <p class="prompt">Zadejte svůj e-mail a obratem vám&nbsp;zašleme PDF s&nbsp;inspirací&nbsp;zdarma.</p>
    <form class="email-prompt" action="newsletter.php">
        <div class="email-input">
            <label for="email">
                <img src="~/img/mail.png" alt="mail">
            </label>
            <input class="font" id="email" type="email" name="email" required placeholder="Zadej svůj email...">
        </div>
        <button class="email-button">přihlásit</button>
    </form>
</div>