@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BootShopASP.Components
@model BootShopASP.Models.mProduct


@{
    ViewBag.Title = "Product";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    function Update() {
        document.forms["formVariants"].submit();
    }
</script>

<div class="breadcrumb padding-10 font">
    <a asp-action="Index">Domů</a> > <a asp-controller="Products" asp-action="Index" asp-route-category="@ViewBag.Category.Category.id">@ViewBag.Category.Category.name</a> > <a asp-controller="Products" asp-action="Index" asp-route-category="@ViewBag.Category.id">@ViewBag.Category.name</a>
</div>
<div class="product padding-10 font">
    <div class="img-description-flex">
        <div class="images">
            <a class="pri" href="~/@Model.Images[0].path" target="_blank" rel="noreferrer">
                <img src="~/@Model.Images[0].path" alt="boot-primary">
            </a>
            <a class="sec" href="~/@Model.Images[1].path" target="_blank" rel="noreferrer">
                <img src="~/@Model.Images[1].path" alt="boot-second">
            </a>
            <a class="thi" href="~/@Model.Images[2].path" target="_blank" rel="noreferrer">
                <img src="~/@Model.Images[2].path" alt="boot-third">
            </a>
            <a class="fou" href="~/@Model.Images[3].path" target="_blank" rel="noreferrer">
                <img src="~/@Model.Images[3].path" alt="boot-fourth">
            </a>
        </div>
        <div class="product-description">
            <div class="header-img">
                <div class="heading">
                    <h1>@Model.name</h1>
                </div>
            </div>
            <div class="description not-mobile">
                @Model.description
            </div>
            <hr>
            <form id="formVariants" asp-controller="Products" asp-action="Detail" asp-route-productID="@Model.id" class="">
                <div class="product-properties">
                    <div class="color">
                        <h3>Barva</h3>
                        <div class="radios-color">
                            @foreach (mColor item in ((IQueryable<mProductVariant>)ViewBag.Variants).Select(x => x.Color).ToList().DistinctBy(x => x.name)) {
                                <label class="radio-btn">
                                    @if (item.id == ViewBag.Variant.colorID) {
                                        <input checked value="@item.id" asp-area-variantID="@item.id" onchange="Update()" type="radio" name="colorID">
                                    }
                                    else {
                                        <input value="@item.id" asp-area-variantID="@item.id" onchange="Update()" type="radio" name="colorID">
                                    }
                                    <span class="check" style="background-color: @item.hexCode"></span>
                                </label>
                            }
                        </div>
                    </div>
                    <div class="size">
                        <h3>Velikost</h3>
                        <div class="radios-size">
                            @foreach (mProductVariant item in ((IQueryable<mProductVariant>)ViewBag.Variants).ToList().DistinctBy(x => x.size)) {
                                <label class="radio-btn">
                                    @if (item.size == ViewBag.Variant.size) {
                                        <input checked value="@item.size" onchange="Update()" type="radio" name="size">
                                    }
                                    else {
                                        <input @(((List<int>)ViewBag.sizes).Contains(item.size) ? "" : "disabled") onchange="Update()" value="@item.size" type="radio" name="size">
                                    }
                                    <span class="check @(((List<int>)ViewBag.sizes).Contains(item.size) ? "" : "size-strip")">@item.size</span>
                                </label>
                            }
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            <div class="price-cart">
                <div class="price-wrapper">
                    @if (ViewBag.Variant.stock > 0) {
                        <h1>Skladem</h1>
                    }
                    else {
                        <h1>Není skladem</h1>
                    }
                    <div class="price">
                        @if (ViewBag.Variant.discount != 0) {
                            <div>@((ViewBag.Variant.price * (1 - ViewBag.Variant.discount)).ToString("F")) Kč</div>
                        }
                        <span class="@(ViewBag.Variant.discount == 0 ? "" : "stripped")">@ViewBag.Variant.price.ToString("F") Kč</span>
                    </div>
                </div>
                <div class="cart">
                    @if (ViewBag.Variant.stock > 0) {
                        <button class="not-desktop">
                            <a asp-controller="Cart" asp-action="AddItem" asp-route-variantID="@ViewBag.Variant.id"><img src="~/img/shop.svg" alt="cart">Do košíku</a>
                        </button>
                        <button class="not-mobile">
                            <a asp-controller="Cart" asp-action="AddItem" asp-route-variantID="@ViewBag.Variant.id"><img src="~/img/shop.svg" alt="cart">Přidat do košíku</a>
                        </button>
                    }
                    else {
                        <button class="not-desktop disabled">
                            <a><img src="~/img/shop.svg" alt="cart">Nelze</a>
                        </button>
                        <button class="not-mobile disabled">
                            <a><img src="~/img/shop.svg" alt="cart">Není k dispozici</a>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="info-params-flex">
        <div class="info">
            <h2>Informace o produktu</h2>
            <p>
                @Model.description
            </p>
        </div>
        <table class="params">
            <thead>
            <tr>
                <th colspan="2">Paremetry produktu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Barva</th>
                <td>@string.Join(", ", ((IQueryable<mProductVariant>)(ViewBag.Variants)).Select(x => x.Color.name))</td>
            </tr>
            <tr>
                <th>Druh</th>
                <td>@string.Join(", ", ViewBag.Types)</td>
            </tr>
            <tr>
                <th>Materiál</th>
                <td>@Model.material</td>
            </tr>
            <tr>
                <th>Určení</th>
                <td>@ViewBag.Category.Category.name</td>
            </tr>
            <tr>
                <th>Kód</th>
                <td>@Model.id</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="break break-not-mobile padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="offers font padding-10">
    <h1>Mohlo by se <span class="heading-offers">Vám&nbsp;líbit</span></h1>
    <div class="products-grid">
        @foreach ((mProduct, mProductVariant, string) item in ViewBag.Products) {
            <vc:Product-Card products="item"></vc:Product-Card>
        }
    </div>
</div>
<div class="break padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="tags font padding-10">
    <div class="skladem">
        <a href="" class="text-skladem">VŠE MÁME SKLADEM</a>
        <div class="img-skladem"></div>
    </div>
    <div class="zdarma">
        <a href="" class="text-zdarma">DOPRAVA ZDARMA</a>
        <div class="img-zdarma"></div>
    </div>
    <div class="velikost">
        <a href="" class="text-velikost">JAK MEŘIT VELIKOSTI</a>
        <div class="img-velikost"></div>
    </div>
</div>
<div class="newsletters font">
    <p class="heading">Nezmeškejte nové a výhodné&nbsp;akce</p>
    <p class="prompt">Zadejte svůj e-mail a obratem vám&nbsp;zašleme PDF s&nbsp;inspirací&nbsp;zdarma.</p>
    <form class="email-prompt" action="newsletter.php">
        <div class="email-input">
            <label for="email">
                <img src="~/img/mail.png" alt="mail">
            </label>
            <input class="font" id="email" type="email" name="email" required placeholder="Zadej svůj email...">
        </div>
        <button class="email-button">přihlásit</button>
    </form>
</div>