@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>


@foreach (mOrder order in ViewBag.Orders) {
    <div class="card mb-4 p-4 d-flex flex-row gap-5">
        <div>
            <h4>
                @order.name @order.surname
            </h4>
            <p><b>Address:</b> @order.shipStreet, @order.shipCity @order.shipZipCode, @order.shipCountry</p>
            <p>
                <b>Delivery:</b> @order.Delivery.name @order.Delivery.price Kč
            </p>
            <p>
                <b>Payment:</b> @order.Payment.name @order.Payment.price Kč
            </p>
        </div>
        <div class="flex-grow-1">
            @foreach (mOrderDetail detail in order.OrderDetails) {
                <div class="d-flex gap-3">
                    <p>
                        <b>Product name:</b> @detail.ProductVariant.Product.name
                    </p>
                    <p>
                        <b>Brand:</b> @detail.ProductVariant.Product.brand
                    </p>
                    <p>
                        <b>Price:</b> @(detail.price * (1 - detail.discount)) Kč
                    </p>
                    <p>
                        <b>VAT:</b> @detail.VAT
                    </p>
                    <p>
                        <b>Ordered count:</b> @detail.count
                    </p>
                </div>
                <hr/>
            }

        </div>
<h3>Summary: @(order.Delivery.price + order.Payment.price + order.OrderDetails.Select(x => x.price * (1 - x.discount)).Sum()) Kč</h3>
    </div>
}


@if (@ViewBag.pagingBack != -1) {
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Orders" asp-route-pagingIndex="@ViewBag.pagingBack">BACK</a>
}
@if (@ViewBag.pagingNext != -1) {
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Orders" asp-route-pagingIndex="@ViewBag.pagingNext">NEXT</a>
}