@{
    ViewBag.Title = "Products";
}
<div class="d-flex justify-content-between px-4">
    <h2>Products</h2>
    <a asp-action="ProductAdd" class="btn btn-dark my-2">Add product</a>
</div>

<div id="PlaceHolderHere"></div>
@foreach (mProduct product in ViewBag.Products) {
    <div class="card d-flex flex-row mb-4">
        <img class="p-2 detail-picture" src="~/@product.Images.FirstOrDefault(x => x.isPrimary).path" alt="picture">
        <div class="p-2 product-detail flex-grow-1 d-flex flex-row">
            <div class="flex-1">
                <h2 class="">@product.name</h2>
                <h4>@product.brand</h4>
                <p>
                    <b>Počet variant:</b> @product.ProductVariants.Count
                </p>
            </div>
            <div class="flex-3">
                <p>@product.description</p>
            </div>

        </div>
        <div class="buttons d-flex flex-column justify-content-around pe-4">
            <a asp-controller="Admin" asp-action="ProductEdit" asp-route-id="@product.id" class="btn btn-secondary">Edit</a>
            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" value="@product.id" data-url="@Url.Action("RemoveProduct")?id=@product.id">Delete</button>
        </div>
    </div>
}


@if (@ViewBag.pagingBack != -1) {
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Products" asp-route-pagingIndex="@ViewBag.pagingBack">BACK</a>
}
@if (@ViewBag.pagingNext != -1) {
    <a class="btn btn-dark" asp-controller="Admin" asp-action="Products" asp-route-pagingIndex="@ViewBag.pagingNext">NEXT</a>
}