@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BootShopASP.Models.mProductEdit

@{
    ViewBag.Title = "Edit";
}
<head>
    <link rel="stylesheet" href="~/css/Detail.css">
</head>

<p>@ViewBag.prod</p>
<h2>Edit</h2>
<form asp-action="PostProductEdit" EncType="multipart/form-data">
    @Html.HiddenFor(x => x.Product.id)
    @for (int i = 0; i < Model.Product.Images.Count(); i++) {
        @Html.HiddenFor(x => x.Product.Images[i].id)
        @Html.HiddenFor(x => x.Product.Images[i].path)
        @Html.HiddenFor(x => x.Product.Images[i].isPrimary)
    }
    @for (int i = 0; i < Model.ProductTypes.Count(); i++) {
        @Html.HiddenFor(x => x.ProductTypes[i].Text)
    }


    <label class="form-label">
        Name:
        <input asp-for="Product.name" class="form-control">
        <span class="alert-danger" asp-validation-for="Product.name"></span>
    </label>
    <label class="form-label">
        Brand:
        <input asp-for="Product.brand" class="form-control">
        <span class="alert-danger" asp-validation-for="Product.brand"></span>
    </label>
    <label class="form-label">
        Description:
        <textarea asp-for="Product.description" id="" cols="50" rows="5" class="form-control"></textarea>
        <span class="alert-danger" asp-validation-for="Product.description"></span>
    </label>
    <label class="form-label">
        Material:
        <input asp-for="Product.material" class="form-control">
        <span asp-validation-for="Product.material"></span>
    </label>
    <label class="form-label">
        Category:
        <select class="form-select" asp-for="Product.categoryID">
            @foreach (mCategory main in ViewBag.MainCats) {
                <optgroup label="@main.name">
                    @foreach (mCategory sub in (ViewBag.Categories as List<mCategory>).Where(x => x.parentID == main.id)) {
                        @if (Model.Product.categoryID == sub.id) {
                            <option selected value="@sub.id">@sub.name</option>
                        }
                        else {
                            <option value="@sub.id">@sub.name</option>
                        }
                    }
                </optgroup>
            }
        </select>
        <span class="alert-danger" asp-validation-for="Product.categoryID"></span>
    </label>
    <h3>Variants</h3>
    <div id="variants">
        @for (int i = 0; i < Model.ProductVariants.Count; i++) {
            Html.RenderPartial("ProductEditPartial", Model.ProductVariants[i]);
        }
        <span class="alert-danger" asp-validation-for="ProductVariants"></span>
    </div>
    <a class="btn btn-secondary mb-5" id="addAnother">Add another</a>
    <h3>Types</h3>
    @for (int i = 0; i < Model.ProductTypes.Count; i++) {
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" asp-for="ProductTypes[i].Selected">
            @Model.ProductTypes[i].Text
            @Html.HiddenFor(x => x.ProductTypes[i].Value)
        </label>
    }
    <h3>Images</h3>
    <div class="d-flex">
        @{
            string path1 = "";
            string path2 = "";
            string path3 = "";
            string path4 = "";
            if (Model.Product.Images is not null) {
                if (Model.Product.Images.Count == 4) {
                    path1 = Model.Product.Images.FirstOrDefault(x => x.isPrimary).path;
                    path2 = Model.Product.Images.Where(x => !x.isPrimary).ElementAt(0).path;
                    path3 = Model.Product.Images.Where(x => !x.isPrimary).ElementAt(1).path;
                    path4 = Model.Product.Images.Where(x => !x.isPrimary).ElementAt(2).path;
                }
            }
        }
        <label class="d-flex form-label align-items-center">
            <b >Primary:</b>
            <img class="w-25" src="~/@path1">
            <input class="form-control" type="file" name="formFileFirst" accept="image/*">
        </label>
        <label class="d-flex form-label align-items-center">
            <img class="w-25" src="~/@path2">
            <input class="form-control" type="file" name="formFileSecond">
        </label>
        <label class="d-flex form-label align-items-center">
            <img class="w-25" src="~/@path3">
            <input class="form-control" type="file" name="formFileThird">
        </label>
        <label class="d-flex form-label align-items-center">
            <img class="w-25" src="~/@path4">
            <input class="form-control" type="file" name="formFileFourth">
        </label>
    </div>
    <button class="btn btn-dark my-5" type="submit">Submit</button>
</form>